@import url(//db.onlinewebfonts.com/c/1cab1912fb83db07ac36ec97397173ba?family=ClobberGroteskW00-DemiBold);
@import url(//db.onlinewebfonts.com/c/5621f8cab110decb922898f594ecd660?family=ClobberGroteskW01-Light);
@font-face {font-family: "ClobberGroteskW00-DemiBold";
    src: url("//db.onlinewebfonts.com/t/1cab1912fb83db07ac36ec97397173ba.eot");
    src: url("//db.onlinewebfonts.com/t/1cab1912fb83db07ac36ec97397173ba.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/1cab1912fb83db07ac36ec97397173ba.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/1cab1912fb83db07ac36ec97397173ba.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/1cab1912fb83db07ac36ec97397173ba.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/1cab1912fb83db07ac36ec97397173ba.svg#ClobberGroteskW00-DemiBold") format("svg");
}

@font-face {font-family: "ClobberGroteskW01-Light";
    src: url("//db.onlinewebfonts.com/t/5621f8cab110decb922898f594ecd660.eot");
    src: url("//db.onlinewebfonts.com/t/5621f8cab110decb922898f594ecd660.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5621f8cab110decb922898f594ecd660.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/5621f8cab110decb922898f594ecd660.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/5621f8cab110decb922898f594ecd660.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/5621f8cab110decb922898f594ecd660.svg#ClobberGroteskW01-Light") format("svg");
}

body {
	background-color: black;
}

.container {
	width: 100% !important;
}

#video {
	margin-top: 50px;
	margin-bottom: 25px;
}

.intro {
	margin-top: 50px;
	width: 100% !important;
}

p {

	font-family: "ClobberGroteskW00-DemiBold";
	color: white;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 7px;
	font-size: 42px;
	line-height: 1.0em;
	margin-bottom: 15px;
}

p.thin {
	font-family: "ClobberGroteskW01-Light";
	font-size: 24px;
	line-height: 1.0em;
	margin-bottom: 7px;
}

span.small {
	font-size: 16px;
	font-weight: 200;
}

.donate {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 25px;
}

a.blank {
	font-family: "ClobberGroteskW01-Light";
	text-transform: uppercase;
	font-size: 16px;
	color: white;
	text-decoration: none;
	margin: 10px;
	border: 1px solid black;
	padding: 0px 10px;
	height: 50px;
	text-align: center;
	width: 275px;
}

a.blank:hover {
	color: white;
	background-color: black;
}

a {
	font-family: "ClobberGroteskW01-Light";
	text-transform: uppercase;
	font-size: 16px;
	color: white;
	text-decoration: none;
	margin: 10px;
	border: 1px solid white;
	padding: 0px 10px;
	height: 50px;
	text-align: center;
	width: 275px;
}

a:hover {
	background-color: white;
	color: black;
}

@media only screen and (max-width: 480px) {

	.donate {
		display: block;
	}

	a {
		width: 300px;
	}

}

